*.o
*.lo
*.so
*.la
stamp-h1
.libs
.deps
.dirstamp
/config.h
/gtest/build-aux/config.h
/debian/files
/debian/tmp
libtool
/debian/capnp.1
config.log
config.status
Makefile
/capnp
/capnpc-c++
/capnpc-capnp
*.log
*.debhelper
/debian/capnproto-compiler
/debian/libcapnp-0.2.0
/debian/libcapnp-dev
*.substvars
/capnp-test
*.swp
/src/capnp/test-import.capnp.c++
/src/capnp/test-import.capnp.h
/src/capnp/test.capnp.c++
/src/capnp/test.capnp.h
/test_capnpc_middleman
gtest-config
/debian/capnproto

